header {
	border: 1px solid slategray;
}

/* Remove margins and padding from the list */
ul.nav {
	display: inline-block;
	list-style-type: none;
	margin: 0 0 10px;
	padding: 0;
}

/* Float the list items side by side */
ul.nav li {
	float: left;
}

/* Style the links inside the list items */
ul.nav li a {
	display: inline-block;
	text-align: center;
	padding: 10px 20px 0px 50px;
	/*margin: 0 0 10px;*/
}

/* applying color styling */
.disabled {
	color: grey;
}

a.disabled {
	color: purple;
}

.active {
	color: yellow;
}