header {
	border: 1px solid slategray;
}

/* Remove margins and padding from the list */
ul.nav {
	display: inline-block;
	list-style-type: none;
	margin: 0 0 10px;
	padding: 0;
}

/* Float the list items side by side */
ul.nav li {
	float: left;
}

/* Style the links inside the list items */
ul.nav li a {
	display: inline-block;
	text-align: center;
	padding: 10px 20px 0px 50px;
	/*margin: 0 0 10px;*/
}

/* applying text color styling */
.disabled {
	color: grey;
}

a.disabled {
	color: purple;
}

.active {
	color: yellow;
}


/* styling for nth-child navigation */

/* Make the "I'm red" text colored red */
.parent div:first-child {
	color: red;
}

/* Make the "I'm blue" text colored blue */
.parent div:nth-child(3) {
	color: blue;
}

/* The sibling h4 of the red element should have a background color of red */
.parent div:first-child + h4 {
	color: red;
}

/* The sibling h4 of the blue element should have background color of blue */
.parent div:nth-child(3) +h4 {
	color: blue;
}

/* Any h4 that is a direct child of grandparent should have a 1px border with rounded corners. */
.grandparent h4:nth-child(n) {
	border: 1px solid slategray;
	border-radius: 50px;
}











